<div class='columns'>
  <span class='column is-8'><strong>Name</strong></span>
  <span class='column'><%= @profile.detail.name.fname %> <%= @profile.detail.name.lname %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Age</strong></span>
  <span class='column'><%= @profile.detail.age.dob %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Gender</strong></span>
  <span class='column'><%= @profile.detail.gender.gender %><br></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Country</strong></span>
  <span class='column'><%= @profile.detail.location.country %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>State</strong></span>
  <span class='column'><%= @profile.detail.location.state %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Address</strong></span>
  <span class='column'><%= @profile.detail.location.address %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Zip code</strong></span>
  <span class='column'><%= @profile.detail.location.zip %></span>
</div>

<div class='columns'>
  <span class='column is-8'><strong>Phone Number</strong></span>
  <span class='column'><%= @profile.detail.contact_information.phone_number %></span>
</div>
