<section class='section'>
  <div class='container box'>

    <h1 class='title is-1'>Personal Information</h1>
    
    <div class='container box'>
      <div class='block'>
        <% if current_user.profile.avatar.attached? %>
          <%= image_tag(current_user.profile.avatar.variant(resize: '100x100'), size: '100') %>
        <% else %>
          <%= image_tag 'unknown.jpg' %>
        <% end %>
      </div>

      <div class='block'>
        <span class='title is-3'>Profile Picture</span>
      </div>

      <div class='block'>
        <%= render 'profile_pic_upload' %>
      </div>
    </div>

    <%= render 'list_information' %>

    <%= link_to 'Edit profile', edit_user_detail_path(current_user), class: 'button' %>
  </div>
</section>
