<div class='field is-grouped'>
  <%= link_to user_path(user), class: 'button is-info is-rounded mr-3' do %>
    <%= icon('fas', 'user') %>&nbsp;&nbsp;Profile
  <% end %>

  <% if current_user.sent_invitation?(current_user, user) %>
    <%= button_to friendships_path, class: 'button is-info is-rounded', disabled: true, params: { friend: user } do %>
      <%= icon('fas', 'user-plus') %>&nbsp;&nbsp;Add Friend
    <% end %>
  
  <% elsif current_user.receive_invitation?(current_user, user) && current_user.inverse_pending_friendships.where(user: user, friend: current_user).exists? %>
    <%= button_to friendship_path(current_user.inverse_pending_friendships.where(user: user, friend: current_user).first),
                   method: :put, class: 'button is-success is-rounded' do %>
      <%= icon('fas', 'user-plus') %>&nbsp;&nbsp;Accept request
    <% end %>

  <% elsif !current_user.friend?(current_user, user) %>
    <%= button_to friendships_path, class: 'button is-info is-rounded', params: { friend: user } do %>
      <%= icon('fas', 'user-plus') %>&nbsp;&nbsp;Add Friend
    <% end %>

  <% elsif current_user.friend?(current_user, user) %>
    <%= button_to friendship_path(current_user.is_friend_of(current_user, user)),
                  method: :delete, class: 'button is-danger is-rounded' do %>
      <%= icon('fas', 'user-minus') %>&nbsp;&nbsp;Delete friend
    <% end %>



  <% end %>
</div>
