<section class='section'>
  <div class='container box'>
    <div class='columns is-multiline'>
      <div class='column'>
        <figure class='image is-128x128'>
          <% if @user.profile.avatar.attached? %>
            <%= image_tag @user.profile.avatar.variant(resize: '128x128'), class: 'is-rounded' %>
          <% else %>
            <%= image_tag 'unknown.jpg', size: '150' %>
          <% end %>
        </figure>
      </div>

      <div class='column'>
        <h1 class='title is-4 mb-0'>
          <%= @user.profile.detail.name.fname %> <%= @user.profile.detail.name.lname %>
        </h1>

        <h2 class='subtitle is-6 mt-0'>
          @<%= @user.username %>
        </h2>
      </div>
    </div>
  </div>
</section>
