<section class='section'>
  <div class='block container'>
    <div class='block'>
      <h1 class='title is-1'>User List</h1>
    </div>

    <div class='block'>
      <%= render 'search_form' %>
    </div>
  </div>

  <div class='block'>
    <% if params[:query] %>
      <% @result.each do |user| %>
        <div class='container box'>
          <div class='columns'>
            <div class='column is-9'>
              PROFILE PICTURE
              <%= user.username %><br>
            </div>
            <div class='column is-3'>
              <div class='field is-grouped'>
                <%= link_to user_path(user), class: 'button is-info is-rounded mr-3' do %>
                  <%= icon('fas', 'user') %>&nbsp;&nbsp;Profile
                <% end %>
                <%= link_to user_path(user), class: 'button is-info is-rounded' do %>
                  <%= icon('fas', 'user-plus') %>&nbsp;&nbsp;Add Friend
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else%>
      <% @users.each do |user| %>
        <div class='container box'>
          <div class='columns'>
            <div class='column is-9'>
              PROFILE PICTURE
              <%= user.username %><br>
            </div>
            <div class='column is-3'>
              <div class='field is-grouped'>
                <%= link_to user_path(user), class: 'button is-info is-rounded mr-3' do %>
                  <%= icon('fas', 'user') %>&nbsp;&nbsp;Profile
                <% end %>
                <%= link_to user_path(user), class: 'button is-info is-rounded' do %>
                  <%= icon('fas', 'user-plus') %>&nbsp;&nbsp;Add Friend
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
