<nav class='navbar has-background-dark' role='navigation'>
  <div class='navbar-brand'>
    <% if user_signed_in? %>
      <%= link_to 'Homepage', authenticated_root_path, class: 'navbar-item title is-3 has-text-white' %>
    <% else %>
      <%= link_to 'Homepage', unauthenticated_root_path, class: 'navbar-item title is-3 has-text-white' %>
    <% end %>
  </div>

  <div class='navbar-menu'>
    <div class='navbar-start'>
      <div class='navbar-item'>
        <%= link_to 'Users', users_path, class: 'button is-dark' %>
      </div>
    </div>

    <div class='navbar-end'>
      <div class='navbar-item has-text-white'>
        <% if user_signed_in? %>
          logged in:&nbsp;&nbsp;<%= current_user.username %>
        <% end %>
      </div>
      <div class='navbar-item buttons'>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'button is-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
