<div class='columns'>

  <figure class='column image p-0'>
    <%= image_tag 'cat.jpg', style: 'width: 60%' %>
  </figure>

  <div class='column p-6 is-one-quarter'>

    <div class='container'>
    
      <div class='block'>
        <h2 class='title is-1'>Log in</h2>
      </div>

      <div class='block'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: 'checkbox' %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        
        <div class="block actions">
          <%= f.submit "Log in", class: 'button is-info is-outlined' %>
        </div>

        <div class='block actions'>
          <%= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path,
                method: :post, class: 'button is-info' %>
        </div>
      <% end %>

      <div class='block'>
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>


