<section class='section'>
  <div class='container box'>
    <h1 class='title is-4'>New post</h1>
    <%= form_with model: @post do |f| %>
      <div class='field'>
        <div class='control'>
          <%= f.text_area :body, class: 'textarea', placeholder: 'e.g. What are you thinking?' %>
        </div>
      </div>

      <div class='actions'>
        <%= f.submit 'Post', autofocus: true, class: 'button is-success is-outlined' %>
      </div>
    <% end %>
  </div>
</section>

<section class='section'>
  <div class='container mb-3'>
    <h2 class='title is-4'>Your Timeline</h1>
  </div>

  <% @posts.each do |post| %>
    <div class='container box' id="dropdown_post_<%=post.id %>">
      <div class=columns>
        <div class='column is-11'>
          <span>PROFILE PICTURE : <%= post.user.email %> </span><br>
          <span><%= post.created_at %></span>
        </div>

        <div class='column is-1'>
          <div class='dropdown is-hoverable is-right'>
            <div class='dropdown-trigger'>
              <button class='button is-inverted'>
                <span class='icon is-small'><%= icon('fas', 'ellipsis-v') %></span>
              </button>
            </div>

            <div class='dropdown-menu'>
              <div class='dropdown-content'>
                <div class='dropdown-item'>
                  <%= link_to 'Delete post', post_path(post), method: :delete, class: 'button is-danger is-inverted' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class='section'>

        <p><%= post.body %></p>
      </section>
      
      <div>
        <% if post.liked?(current_user) %>
          <%= button_to post_like_path(post, post.likes.find{|like| like.user_id == current_user.id}), method: :delete, class: 'button is-danger is-outlined' do %>
            <%= icon('far', 'thumbs-up') %>&nbsp;&nbsp;<%= post.likes.size %>
          <% end%>
        <% else %>
          <%= button_to post_likes_path(post), class: 'button is-info is-outlined' do %>
            <%= icon('far', 'thumbs-up') %>&nbsp;&nbsp;<%= post.likes.size %>
          <% end%>
        <% end %>
      </div>

      <section class='section p-1'>
        <% if post.comments.empty? %>
          <h3 class='title is-6'>No comments</h3>
        <% else %>
          <h3 class='title is-6'>Comments</h3>

          <% post.comments.each do |comment| %>
            <div class= 'container box'>
              <p><%=comment.user.email %>: <%= comment.body %></p>
              <%= link_to 'delete', post_comment_path(post, comment), method: :delete, class: 'button is-danger is-small is-outlined' %>
            </div>
          <% end %>
        <% end %>
      </section>

      <section class='section'>
        <div class='container'>
          <h3 class='title is-6'>Post a comment</h3>

          <%= form_with model: @comment, url: post_comments_path(post) do |f| %>
            <div class='field'>
              <div class='control'>
                <%= f.text_area :body, class: 'textarea', placeholder: 'Comment here' %>
              </div>
            </div>

            <div class='action'>
              <%= f.submit 'Comment', class: 'button is-primary is-outlined' %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  <% end %>
</section>
