<%= form_with model: @detail, url: user_detail_path(current_user) do |form| %>
  <section class='section'>
    <div class='column is-5 container box'>
      <h1 class='title is-1'>Personal Information</h1>

      <%= render 'name', f: form %>

      <%= render 'age', f: form %>

      <%= render 'gender', f: form %>
    </div>

    <div class='column is-5 container box'>
      <h1 class='title is-1'>Contact information</h1>

      <%= render 'contact_information', f: form %>

      <%= render 'location', f: form %>

      <div class='actions'>
        <%= form.submit 'Enter', class: 'button is-primary is-outlined' %>
      </div>
    </div>
  </section>
<% end %>
