<div class='block'>
  <% if post.liked?(current_user) %>
    <%= button_to post_like_path(post, post.likes.find{|like| like.user_id == current_user.id}), method: :delete, class: 'button is-danger is-outlined' do %>
      <%= icon('far', 'thumbs-up') %>&nbsp;&nbsp;<%= post.likes.size %>
    <% end%>
  <% else %>
    <%= button_to post_likes_path(post), class: 'button is-info is-outlined' do %>
      <%= icon('far', 'thumbs-up') %>&nbsp;&nbsp;<%= post.likes.size %>
    <% end%>
  <% end %>
</div>
