<div class='block'>
  <% if post.comments.empty? %>
    <h3 class='title is-6'>No comments</h3>
  <% else %>
    <h3 class='title is-6'>Comments</h3>

    <% post.comments.each do |comment| %>
      <div class= 'container box'>
        <div class='columns'>
          <div class='column'>
            <p>
              <div class='columns'>
                <div class='column pr-2'>
                  <%= render 'shared/posts/user_pic', item: comment, size: '80', dim: '80x80' %>
                </div>

                <div class='column is-four-fifths pl-2'>
                  <h4 class='block subtitle is-6 mb-1'>
                    <strong>
                      <%= comment.user.profile.detail.name.fname %>
                      <%= comment.user.profile.detail.name.lname %>
                    </strong>
                  </h4>
                  
                  <p class='block'>
                    <%= comment.body %>
                  </p>
                </div>

                <div class='column is-narrow'>
                  <% if comment.user == current_user %>
                    <%= link_to 'delete', post_comment_path(post, comment), method: :delete, class: 'button is-danger is-small is-outlined' %>
                  <% end %>
                </div>

              </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
