<div class='column is-11'>
  <div class='columns'>
    <span class='column is-1'>
      <%= render 'shared/posts/user_pic', item: post, size: '100', dim: '100x100' %>
    </span>

    <span class='column is-11'>
      <h2 class='title is-3 mb-0 '><%= post.user.profile.detail.name.fname %>
                                   <%= post.user.profile.detail.name.lname %></h2>
      <p class='subtitle is-6 mt-0 mb-0'>@<%= post.user.username %></p>
      <span>posted on: <%= post.created_at.to_formatted_s(:long) %></span>
    </span>
  </div>
</div>
